@charset "UTF-8";
/* CSS Document */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	font-size: 16px;
	color: #2b2b2b;
}

h1, h2, h3, p {
	margin: 0px;
	padding: 0px;
}

a {
	color: #2b2b2b;
	text-decoration: none;
}

section {
	text-align: center;
}

.u-content-wrapper {
	max-width: 960px;
	margin: 0 auto;
}
.header {
	position: relative;
	width: 100%;
	height: 620px;
	background: url("img/header.png");
	background-size: cover;
	color: #fff;
	text-align: center
}

.header__nav {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	height: 64px;
}

.header__nav__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav__logo {
	font-size: 36px;
}

.hamburger-menu {
	position: relative;
	width: 32px;
	height: 64px;
	cursor: pointer;
}

.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after {
	position: absolute;
	left: 0px;
	width: 32px;
	height: 1px;
	background: #fff;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: "";
}

.hamburger-menu__line {
  top: 50%;
}

.hamburger-menu__line::before {
  top: calc(50% - 8px);
}

.hamburger-menu__line::after {
  top: calc(50% + 8px);
}

.header__title {
	padding-top: 240px;
	font-size: 120px;
	font-weight: normal;
}

.header__title__sub {
	word-spacing: 4px;
}

.header__title__sub::before,
.header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

.u-heading {
	position: relative;
	margin-bottom: 32px;
	padding: 80px 0px 24px 0px;
	font-size: 36px;
	letter-spacing: 2px;
}

.u-heading::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 40px;
	height: 1px;
	background: #2b2b2b;
	transform: translateX(-50%);
}

.u-text {
	padding-bottom: 40px;
	line-height: 1.8;
	letter-spacing: 1.4px;
}

.concept {
	width: 100%;
	padding: 80px 0;
	background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.work__contents {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	height: 1680px;
}

.work__content {
	width: 420px;
	padding-bottom: 80px;
	text-align: left;
	line-height: 1.8;
}

.work__content:nth-of-type(1) {order: 1;}
.work__content:nth-of-type(2) {
  order: 3;
  margin-top: 120px;
}
.work__content:nth-of-type(3) {order: 2;}
.work__content:nth-of-type(4) {order: 4;}

.work__content__image {
	width: 100%;
	margin-bottom: 16px;
}

.work__contents__heading {
	font-size: 28px;
}

.work__content__text {
	letter-spacing: 1.5px;
}

/******************
*  florist
******************/

.florist {
	width: 100%;
	background: linear-gradient(#ededed 60%, #fff 40%);
}

.florist__persons {
	display: flex;
	justify-content: space-between;
}

.florist__person {
	width: 300px;
	padding-bottom: 40px;
	text-align: left;
	line-height: 1.8;
	font-size: 0;
}

.florist__person__image {
	width: 100%;
	margin-bottom: 12px;
}

.florist__person__name {
	font-size: 24px;
}

.florist__person__introduce {
	font-size: 16px;
	letter-spacing: 1.5px;
}

/******************
*  Shop Information
******************/

.shop-info {
	width: 100%;
}

.shopinfo__contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopinfo__image {
	width: 50%;
}

.shopinfo__table {
	width: 45%;
	border-spacing: 16px;
	text-align: left;
	letter-spacing: 1.5px;
	line-height: 2;
}

.shopinfo__table__heading {
	width: 25%;
	border-right: 1px solid #a0a0a0;
}

/******************
*  Contact
******************/

.contact {
	width: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("img/contact_us.png");
	background-size: cover;
}

.btn__contact {
	position: relative;
	display: inline-block;
	width: 360px;
	padding-left: 40px;
	height: 80px;
	line-height: 80px;
	letter-spacing: 2px;
	border: 1px solid #a0a0a0;
	background: #fff;
	font-size: 20px;
}

.btn__contact::before,
.btn__contact::after {
	content: "";
	position: absolute;
	border-radius: 2px;
}

.btn__contact::before {
	top: 30px;
	left: 85px;
	width: 30px;
	height: 20px;
	border: 1px solid #2b2b2b;
}

.btn__contact::after {
	top: 21px;
	left: 90px;
	width: 20px;
	height: 20px;
	border-right: 1px solid #2b2b2b;
	border-bottom: 1px solid #2b2b2b;
	transform: rotate(45deg);
}



.footer__copyright {	
	line-height: 40px;
	letter-spacing: 1.4px;
}

.footer {
	width: 100%;
	text-align: center;
}
